.footer {
  background-color: #2c3648;
  color: white;
  height: 100px;

  ul {
    color: #f78410;
    a {
      color: white;
    }
  }

  .alma-mater {
    // background-color: white;
    background-color: #f78410;
    padding: 5px;
    border-radius: 5px;
  }
}
