.footer {
  background-color: #2c3648;
  color: white;
  height: 100px;

  ul {
    a {
        color: white;
    }
  }

  .alma-mater {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
  }
}