.lesson {
    text-align: center;
    margin-top: 20px;

    &__body {
        max-width: 420px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: stretch;
        grid-gap: 10px;
        margin: 30px auto;
        padding-bottom: 20px;
        border-bottom: solid 1px #a5a5a5;

        @media(max-width: 500px) {
            grid-template-columns: repeat(1, 1fr);
        }

        .btn:hover {
            background-color: #f78410;
        }
    }

    .wrong {
        color: red;
    }

    &__title.right {
        font-size: 4rem;
        color: #f78410;
    }

    .show-answer {
        background-color: #f78410;
        color: white;
    }
}