.bienvenue {
    min-height: calc(100vh - 200px);
    span {
        margin: 0 5px;
    }

    .lang-select {
        width: 200px;
    }

    .list-group-item {
        border: none;
    }

    .item {
        .card {
            &:hover {
                box-shadow: 0 5px 5px rgba(0, 0, 0, 0.12), 0 5px 5px rgba(0, 0, 0, 0.12);
            }
        }
    } 
}